.contactsBlock {
    min-height: 100vh;
    background-color: lightpink;
}

.contactsContainer {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    background-color: lightcyan;
}

.form {
    border: 1px solid;
    width: 280px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

input {
    width: 100%;
    height: 30px;
}

textarea {
    width: 100%;
    height: 60px;
}

.button {
    background-color: grey;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 90px;
    height: 25px;
}