.mainBlock {
    height: 100vh;
    background-color: lightcoral;
}

.text {
    width: 300px;
    background-color: lightcyan;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightcyan;
}