.project {
    width: 400px;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
}

.cover {
    width: 100%;
    height: 280px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: grey;
    margin-left: 10px;
}

.description {
    background-color: grey;
    margin-left: 10px;
    margin-bottom: 8px;
}