.footerBlock {
    background-color: darkslateblue;
}

.footerContainer {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    background-color: lightcyan;
}

.icons {
    border: 1px solid;
    width: 280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.icon {

}

.text {
    font-weight: bolder;
    margin-bottom: 20px;
}