.footerBlock {
    background-color: darkslateblue;
}

.footerContainer {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    background-color: lightcyan;
}

.icons {
    border: 1px solid;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: grey;
}

.text {
    font-weight: bolder;
    background-color: lightcyan;
    margin-bottom: 20px;
}