.projectsBlock {
    min-height: 100vh;
    background-color: lightyellow;
}

.projectsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: lightcyan;
}